*.egg-info
.idea
/extensions/jupyterlab/node_modules/
/extensions/jupyterlab/*.tgz
/dist
/build/
.ipynb_checkpoints
/extensions/jupyterlab/README.md
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.DS_Store
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
vv
.vscode/settings.json
